@import ../../Consultation/Hero/Hero.module.sass

.workshopHero
  @extend .hero

  background-image: url(./workshop-bg.jpg)

.workshopContent
  @extend .content

  left: 0
  right: 50%

.columns
  display: grid
  margin: auto 0
  grid-template-columns: repeat(3, 1fr)
  gap: 3rem
